body {
    background: #FADCF0

}/

#banner {
    width: 200;
}

h1 {
    text-align: center
}

p {
    text-align: center;
}

#missao {
    font-size: 24px
}

em strong {
    color: #FF0000;
}

#beneficios{
    text-align: center;
}
.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center
}
