body {
    background: #fcffcf
}

#banner {
    width: 60%;
    height: 300px;
}

p {
    font-size: 25px
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 { 
    text-align: center;
}

h4  {
    text-align: center;
}
