body {
    background: rgb(236, 68, 68);
}

p {
    font-size: 25px
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 { 
    text-align: center;
}

h4  {
    text-align: center;
}